body{
  background-color: #f5f5f5;
  color: #f5f5f5;
}

.main{
  margin: 10% 5% 0 5%;
  background-color: #11324D;
  padding: 2% 2% 4% 2%;
  border-radius: 10px;
}

.main-h1{
  font-size: 5rem;
  font-weight: bolder;
}

.main-p{
  font-size: 2rem;
}

.main-icon{
  margin-left: 1%;
}
